/* Reset  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  background-color: gray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Utility */

.d-inline-block {
  display: inline-block;
}

/* Header */

h1 {
  font-size: 3rem;
  font-weight: bold;
}

span {
  font-size: 1.2rem;
}

li {
  list-style-type: none;
  margin: 15px;
}

.top-bar {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  background-color: white;
  margin-bottom: 50px;
  padding: 0 20px;
}

.top-bar .d-inline-block {
  vertical-align: middle;
}

#cta-section {
  background-color: white;
  padding: 15px 45px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 2px;
}

.cta {
  padding: 5px 15px;
  border-radius: 5px;
}

.cta.task {
  background-color: blue;
  color: white;
}

.cta.section {
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

#ul-section {
  background-color: white;
  padding: 45px 45px;
  border-radius: 0 0 10px 10px;
}

.check {

  border-radius: 100%;
  margin: 0 5px;
  padding: 5px;
}


.check.true {
  color: green;
  border: 1px solid green;
}

.check.false {
  color: red;
  border: 1px solid red;
}

.subject-box {
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
}

.editorial {
  background-color: blue;
}

.q1-goals {
  background-color: pink;
}

.recruiting {
  background-color: green;
}

.mobile {
  background-color: orange;
}